# Pin NumPy to a pre-compiled stable version for AWS Lambda compatibility
numpy==1.26.4

# Frontend
streamlit
requests

# Backend API
fastapi
uvicorn
python-multipart
redis

# RAG & LLM Logic
langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-pinecone
langgraph
langgraph-checkpoint-sqlite
pinecone
boto3
sentence-transformers
pypdf
python-dotenv
